*{
    margin: 0;
    padding:0%;
 
   background-color: darkred;
 align-items: center;
}
.logo{
    margin-left: 720px;
}
h1{
    text-align: center;
    font-size: 36px;
}

h2{
    font-size: 3.8rem;
    color:skyblue;
    text-align: center;
    }
    
p{
    font-size: 24px;
    color:black;
    text-align: center;
}
.topTen{
    font-size: 20px;
    
    color:blue;
  list-style: lower-roman;
  position: relative;

  text-align: center;
list-style-position: inside;
}
   

.aboutme{

position: relative;
position: sticky;
}
.workHistoryImages{
float: right;
position: relative;
}


