*{
    margin: 0;
    padding:0;
 background-image: url(./images/luca-bravo-SRjZtxsK3Os-unsplash.jpg);
}
.logo{
   margin:5% 70% 45% 30%;
}
h2{
    font-size: 3.8rem;
    color:skyblue;
    }
    li{
        color: skyblue;
    }


   

.container{
  display:flex;
  flex-wrap: wrap;
}

