*{
    margin: 0;
    padding:0;
 background-image: url(./images/luca-bravo-SRjZtxsK3Os-unsplash.jpg);
}

h2{
    font-size: 3.8rem;
    color:skyblue;
    }
    li{
        color: skyblue;
    }
p{
    font-size: 24px;
    color:blue;
}

   

.aboutme{

position: relative;
position: sticky;
}

